body {
  margin: 50px;
}

h1 {
    font-size: 23px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 2px solid black;
  margin-top: -125px;
}

#todays-challenge {
  font-weight: bold;
  font-size: 32px;
  color: rgb(83, 75, 75);
}

#date {
    color: brown;
}

li {
  /* margin: 32px; */
  padding: 40px;
  background-color: rgb(223, 136, 124);
  border-radius: 6px;
  border: 2px solid black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

ol {
  list-style: none;
  width: 550px;
  margin: 100px auto 0 auto;
  padding: 0;
  display: inline-block;
}
